@media {
    
    body {
        font-family:"Cabin", serif;
    }
    

h1 {
    font-size:50px;
    margin:0px 0px 50px 0px;
}

h2 {
    font-size:20px;
}

.yellow {
    background-color:#FAF4D3;
}

#topper2 {
text-align:center;
    }

.headshot {
    width:300px;
    border:3px solid black;
    border-radius: 500px;
    border:3px solid black;
    text-align:center;
}

.topper-headshot {
}

.description {
    font-size:18px;
    line-height:50px;
}

.title {
    margin:0px 0px 50px 0px;
}

.nav {
    font-size:20px;
}

.nav-link {
    color:aqua;
}

.nav-link:hover {
    text-decoration: underline;
    color:aqua;
}

.nav-item {
        width:100%
    }


button {
    background-color:blue;
}

button:hover {
    background-color:beige;
}
    
}




@media (min-width:576px) {
    
#headshot {
    margin:10px 0px 25px 10px;
}
    
.nav-item {
        width:200px;
    }

    
}




@media (min-width:992px) {
    
#headshot {
    margin:10px 0px 0px 10px;
}
    
}